# Normalerwise würde ich diese Option als "true" setzen.
# Aber da ich die Einrichtung für dieses Demo aber nicht unnötig kompliziert machen möchte,
# habe ich es weggelassen und empfehle es in den Voraussetzungen.
engine-strict=false


legacy-peer-deps=true
